1. Escreva um código usando enumerate para exibir os índices e valores da lista ["maçã", "banana", "uva"].

In [ ]:
frutas = ["maçã", "banana", "uva"]
for indice, valor in enumerate(frutas):
    print(f"Índice: {indice}, Valor: {valor}")

2. Crie uma lista com os números pares de 1 a 10 usando List Comprehension.

In [ ]:
pares = [num for num in range(1, 11) if num % 2 == 0]
print(pares)

3. Escreva um programa que use map para multiplicar cada elemento da lista [1, 2, 3, 4] por 3.

In [ ]:
lista = [1, 2, 3, 4]
resultados = list(map(lambda x: x * 3, lista))
print(resultados)

4. Escreva um programa que use enumerate e List Comprehension para criar uma lista de tuplas com os índices e valores ao quadrado de [2, 4, 6]

In [ ]:
numeros = [2, 4, 6]
resultado = [(indice, valor**2) for indice, valor in enumerate(numeros)]
print(resultado)